<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <script src="/dist/output.css"></script> 
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <h1 class="text-blue-600 border-1 border-green-400 bg-green-300 p-2">{{heading}}</h1>
    <p>{{content}}</p>
</body>

</html>