<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>

  <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#ABB2B9">
    <tr>
      <td align="center">
        <table width="80%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin: 20px;">
          <tr>
            <td align="center">
              <img src="https://i.imgur.com/U2EwbfZ.png" alt="emailVerify"
                style="display: block; margin: 0 auto; width:60px;height:auto;">

            </td>
          </tr>
          <tr>
            <td align="center">
              <h1>Verify your email ID to get contacted</h1>
              <h1>by recruiters!</h1>
              <h3>Companies prefer candidates with verified profiles</h3>
              <h3>40% higher chances of getting contacted by active recruiters</h3>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellpadding="10" cellspacing="0" bgcolor="#3062DD">
                <tr>
                  <td align="center">
                    <a href="{{link}}" style="text-decoration: none; color: #fff; font-weight: bold;">Verify your email
                      id</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


</body>
</div>
</body>

</html>